
body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    max-height: 5708px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding-top: 33px;
}

/* -----------------header------------- */

header {
    width: 92%;
    height: 64px;
    /* background-color: bisque; */
    margin: 0 auto 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 24%;
    height: 64px;
    /* background-color: lightsalmon; */
}

.logo img {
    width: 100%;
}

.site-navigation {
    width: 33%;
    height: 30px;
    /* background-color: lightgreen; */
    margin-left: 14%;
}

.site-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-navigation li {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.site-navigation li:hover {
    cursor: pointer;
    color: #A04955;
}

.search {
    width: 19%;
    height: 40px;
    /* background-color: gold; */
    border: 1px solid #A04955;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 25px;
    display: inline-block;
}

.search-icon img {
  width: 100%;
}

.search-input {
    width: 74%;
    margin-left: 5px;
    outline-style: none;
    font-size: 14px;
    line-height: 22px;
    color: #787878;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border: none;
}








/* ------------------Основной контент------------- */






.home-search {
    width: 100%;
    height: 95px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.select-category {
    width: 22%;
    height: 36px;
    margin-left: 4%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: flex-start;
}

.home {
    width: 93px;
    height: 36px;
    /* background-color: red; */
}

.home-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
    display: inline-block;
}

.home-icon img {
    width: 100%;
}

.home p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    display: inline-block;
    margin-left: 2px;
}

.home a {
    text-decoration: none;
    color: black;
}

.arrow {
    width: 20px;
    height: 20px;
    /* background-color: green; */
    margin-left: 15px;
    margin-top: 8px;
}

.select-category-product-name {
    width: 75px;
    height: 36px;
    /* background-color: brown; */
    margin-left: 15px;
}

.select-category-product-name p {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.title-home-search {
    width: 68%;
    height: 95px;
    /* background-color: aqua; */
    margin-right: 4%;
}

.title-home-search p {
    margin: 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    color: #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
}


/* ------------------main content----------------- */


.main-content {
    width: 100%;
    height: fit-content;
    background: #F1F1F1;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 70px;
}

.product-section {
    margin: 0 auto;
    width: 92%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

/* ------------------product properties--------- */



.product-properties {
    width: 24%;
    height: fit-content;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #A04955;
}



/* --------------------product size------------ */



.product-properties-size {
    width: 83%;
    height: 143px;
    /* background-color: #A04955; */
    margin: 25px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-size-title {
    width: 100%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-properties-size-title-size {
    width: 43px;
    height: 36px;
    /* background-color: blueviolet; */
}

.product-properties-size-title-size p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0;
}

.product-properties-size-title-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
}

.product-properties-size-select {
    width: 100%;
    height: 95px;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.product-properties-size-select-number {
    width: 40px;
    height: 40px;
    background-color: #F1F1F1;
    text-align: center;
}

.size-number {
    font-weight: 300;
    font-size: 20px;
    line-height: 180.8%;
    color: #000000;
}

.product-properties-line {
    width: 84%;
    height: 1px;
    background-color: #A04955;
    margin: 0 auto 20px;
}




/* -------------------product color-------------- */





.product-properties-color {
    width: 83%;
    height: 143px;
    /* background-color: #A04955; */
    margin: 25px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-color-title {
    width: 100%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-properties-color-title-color {
    width: 43px;
    height: 36px;
    /* background-color: blueviolet; */
}

.product-properties-color-title-color p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0;
}

.product-properties-color-title-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
}

.product-properties-color-select {
    width: 100%;
    height: 95px;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.product-properties-color-select-black {
    width: 40px;
    height: 40px;
    background-color: #000000;
}

.product-properties-color-select-brown {
    width: 40px;
    height: 40px;
    background-color: #744524;
}

.product-properties-color-select-blue {
    width: 40px;
    height: 40px;
    background-color: #113EB1;
}

.product-properties-color-select-green {
    width: 40px;
    height: 40px;
    background-color: #549554;
}

.product-properties-color-select-grey {
    width: 40px;
    height: 40px;
    background-color: #808080;
}

.product-properties-color-select-orange {
    width: 40px;
    height: 40px;
    background-color: #E59500;
}

.product-properties-color-select-white {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #BCBCCC;
}




/* ---------------product-properties-select ------------------- */




.product-properties-select {
    width: 83%;
    height: fit-content;
    /* background-color: #A04955; */
    margin: 25px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-select-title {
    width: 100%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-properties-select-title-select {
    width: fit-content;
    height: 36px;
    /* background-color: blueviolet; */
}

.product-properties-select-title-select p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0;
}

.product-properties-select-title-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
}

.product-properties-select-boxes {
    width: 100%;
    height: 287px;
    /* background-color: #E59500; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-select-boxes .product-properties-select-box:first-child {
    margin-top: 14px;
}

.product-properties-select-box {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-left: 22px;
    display: inline-block;
}

.brand span {
    margin-left: 5px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #333333;
}


/* ---------------------product-properties-inseam----------- */



.product-properties-inseam {
    width: 83%;
    height: fit-content;
    /* background-color: #A04955; */
    margin: 25px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-inseam-title {
    width: 100%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-properties-inseam-title-inseam {
    width: fit-content;
    height: 36px;
    /* background-color: blueviolet; */
}

.product-properties-inseam-title-inseam p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0;
}

.product-properties-inseam-title-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
}



/* --------------product-properties-sustainable-fabric------ */



.product-properties-sustainable-fabric {
    width: 83%;
    height: fit-content;
    /* background-color: #A04955; */
    margin: 25px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-sustainable-fabric-title {
    width: 100%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-properties-sustainable-fabric-title-sustainable-fabric {
    width: fit-content;
    height: 36px;
    /* background-color: blueviolet; */
}

.product-properties-sustainable-fabric-title-sustainable-fabric p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0;
}

.product-properties-sustainable-fabric-title-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
}



/* ----------------product-properties-collections------- */



.product-properties-collections {
    width: 83%;
    height: fit-content;
    /* background-color: #A04955; */
    margin: 25px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-collections-title {
    width: 100%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-properties-collections-title-collections {
    width: fit-content;
    height: 36px;
    /* background-color: blueviolet; */
}

.product-properties-collections-title-collections p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180.8%;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0;
}

.product-properties-collections-title-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
}



/* ---------------product cards------------ */




.product-cards {
    width: 75%;
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 20px;
}

.product-card {
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: inline-block;
}

.product-card-img {
    width: 165px;
    height: 165px;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 5px;
}

.product-card-img img {
    width: 100%;
}

.product-card-img img:hover {
    cursor: pointer;
}

.product-name {
    width: 100%;
    height: fit-content;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.product-name p {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #333333;
}

.product-name p:hover {
    cursor: pointer;
}

.product-stars {
    width: 150px;
    height: 25px;
    display: inline-block;
    margin-bottom: 10px;
}

.product-price {
    width: 180px;
    height: 27px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.product-price p {
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    margin: 0;
}

.product-color {
    width: 182px;
    height: 55px;
    /* background-color: beige; */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto 20px;
}

.product-color-type {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    margin-top: 16px;
}

.product-color-type .black {
    width: 100%;
    height: 100%;
    background-color: black;
}

.product-color-type .brown {
    width: 100%;
    height: 100%;
    background-color: #744524;
}

.product-color-type .blue {
    width: 100%;
    height: 100%;
    background-color: #113EB1;
}

.product-color-type .green {
    width: 100%;
    height: 100%;
    background-color: #549554;
}

.product-color-type .grey {
    width: 100%;
    height: 100%;
    background-color: #808080;
}

.product-color-type .yellow {
    width: 100%;
    height: 100%;
    background-color: #E59500;
}

.product-color-type .white {
    width: 100%;
    height: 100%;
    background-color: white;
}



.text-bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.product-add-btn {
    width: 130px;
    height: 35px;
    display: block;
    background-color:  #A04955;
    margin: 0 auto;
    margin-bottom: 24px;
}

.product-add-btn:hover {
    cursor: pointer;
}

.product-add-btn img {
    position: relative;
    top: 1px;
} 

.product-add-btn p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 4px;
    margin-left: 4px;
}



















/* ----------------footer---------------- */


.desktop {
    width: 100%;
    height: 420px;
    background-color: #A04955;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    width: 92%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    /* background-color: aqua; */
}

.ordering-online {
    width: 16%;
    height: 320px;
    /* background-color: yellow; */
}

.ordering-online h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.desktop .footer-content h3:hover {
    cursor: pointer;
}

.desktop .footer-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.desktop .footer-content p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ordering-online {
    display: flex;
    flex-direction: column;
}

.ordering-online a {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.about-sportif {
    width: 12%;
    height: 320px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.about-sportif h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.about-sportif a {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.quick-links {
    width: 12%;
    height: 320px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.quick-links h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quick-links a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.get-to-know-us {
    width: 44%;
    height: 320px;
    /* background-color: blue; */
}

.get-to-know-us-content {
    width: 100%;
    height: 140px;
    /* background-color: green; */
    margin-bottom: 20px;
}

.get-to-know-us h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.get-to-know-us p {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.get-to-know-us .sign {
    margin-top: 31px;
}

.subscribe-us {
    width: 82%;
    height: 61px;
    background-color: #F3F3F3;
}

.subscribe-us input {
    height: 25px;
    width: 49%;
    margin-left: 5%;
    border: none;
    background-color: #F3F3F3;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #A04955;
}

.subscribe-us input:hover {
    cursor: pointer;
}

.subscribe-us .subscribe {
    width: 32%;
    height: 43px;
    background-color: #A04955;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #F3F3F3;
    margin-left: 10%;
    margin-top: 8px;
    border-style: none;
}

.subscribe-us .subscribe:hover {
    cursor: pointer;
}

.all-rights-reserved {
    width: 20%;
    height: 25px;
    margin-top: 10px;
    margin-left: 4%;
    /* background-color: antiquewhite; */
}

.all-rights-reserved p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.mobile {
    display: none;
}






/* ------------------footer for mobile version---------- */






.mobile {
    width: 100%;
    height: 100%;
    background-color: #A04955;
    box-sizing: border-box;
}

.footer-content-mobile h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.footer-content-mobile a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.footer-content-mobile {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #A04955;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown-ordering-online {
    width: fit-content;
}

.dropdown-ordering-online h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-about-sportif h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-quick-links h3 {
    margin: 0;
    padding-bottom: 10px;
}

.dropdown-ordering-online:hover {
    cursor: pointer;
}

.dropdown-about-sportif:hover {
    cursor: pointer;
}

.dropdown-quick-links:hover {
    cursor: pointer;
}

.dropdown-ordering-online:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-about-sportif:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-quick-links:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}