body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    max-height: fit-content;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding-top: 33px;
}

/* -----------------header------------- */

header {
    width: 92%;
    height: 64px;
    /* background-color: bisque; */
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 24%;
    height: 64px;
    /* background-color: lightsalmon; */
}

.logo img {
    width: 100%;
}

.site-navigation {
    width: 33%;
    height: 30px;
    /* background-color: lightgreen; */
    margin-left: 14%;
}

.site-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-navigation li {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.site-navigation li:hover {
    cursor: pointer;
    color: #A04955;
}

.search {
    width: 19%;
    height: 40px;
    /* background-color: gold; */
    border: 1px solid #A04955;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 25px;
    display: inline-block;
}

.search-icon img {
  width: 100%;
}

.search-input {
    width: 74%;
    margin-left: 5px;
    outline-style: none;
    font-size: 14px;
    line-height: 22px;
    color: #787878;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border: none;
}


/* ---------------main content------------ */


.main-content {
    width: 92%;
    height: fit-content;
    margin: 0 auto;
}



/* --------------product-select-block-------------- */



.product-select-block {
    width: 32%;
    height: 36px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 114px;
}

.product-select-block-home {
    width: 93px;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-start;
}

.product-select-block-home-icon {
    width: 30px;
    height: 30px;
    /* background-color: blue; */
    margin-top: 3px;
}

.product-select-block-home-icon img {
    width: 100%;
}

.product-select-block-home p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-left: 10px;
}

.product-select-block-arrow {
    width: 20px;
    height: 20px;
    /* background-color: aquamarine; */
    text-align: center;
}

.product-select-block-product-type {
    width: 72px;
    height: 100%;
    /* background-color: chartreuse; */
}

.product-select-block-product-type p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.product-select-block-product-name {
    width: 213px;
    height: 100%;
    /* background-color: chartreuse; */
}

.product-select-block-product-name p {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}


/* -----------------product card wrap--------------- */


.product-card-wrap {
    width: 100%;
    height: fit-content;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
}

.product-card-img {
    width: 35%;
    height: fit-content;
    /* background-color: aquamarine; */
    margin-left: 70px;
}

.product-card-description {
    width: 49%;
    height: fit-content;
    /* background-color: darkgoldenrod; */
}

.product-card-selected-img {
    width: 100%;
    height: fit-content;
    margin-bottom: 128px;
}

.product-card-selected-img img {
    width: 100%;
    display: block;
}

.product-card-img-options {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.product-card-img-option-1 {
    width: 30%;
    height: fit-content;
}

.product-card-img-option-1 img {
    width: 100%;
    display: block;
}

.product-card-img-option-2 {
    width: 30%;
    height: fit-content;
}

.product-card-img-option-2 img {
    width: 100%;
    display: block;
}

.product-card-title {
    width: 83%;
    height: 71px;
    /* background-color: red; */
    margin-bottom: 20px;
}

.product-card-title h2 {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    color: #000000;
}

.product-card-title span {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.product-card-description-reviews {
    width: 38%;
    height: 25px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.product-card-description-reviews img {
    display: inline-block;
}

.product-card-description-reviews p {
    margin: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.product-card-description-price {
    width: 16%;
    height: fit-content;
    /* background-color: #A04955; */
    margin-bottom: 16px;
}

.product-card-description-price h4{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.product-card-description-price p {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}

.product-card-description-color {
    width: 8%;
    height: fit-content;
    /* background-color: yellow; */
    margin-bottom: 7px;
}

.product-card-description-color p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.product-card-description-color-options {
    width: 35%;
    height: 42px;
    margin-bottom: 6px;
}

.product-card-description-color-options img {
    width: 100%;
    display: block;
}

.product-card-description-size {
    width: 5%;
    height: fit-content;
    /* background-color: blue; */
    margin-bottom: 18px;
}

.product-card-description-size p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    }

.product-card-description-size-select {
    width: 82%;
    height: 32px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.product-card-description-size-select-btn {
    width: 9%;
    height: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.product-card-description-size-select-btn p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.product-card-description-buttons-wrap {
    width: 100%;
    height: 56px;
    /* background-color: yellow; */
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.product-card-description-btn-add-to-bag {
    width: 48%;
    height: 100%;
    background-color: #A04955;
}

.btn-add-to-bag-title {
    width: 154px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.btn-add-to-bag-title-img {
    width: 30px;
    height: 30px;
}

.btn-add-to-bag-title-img img {
    width: 100%;
}

.btn-add-to-bag-title-text {
    width: 109px;
    height: 36px;
}

.btn-add-to-bag-title-text p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.product-card-description-btn-add-to-wishlist {
    width: 48%;
    height: 100%;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.btn-add-to-wishlist-title {
    width: 201px;
    height: 36px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
    align-items: center;
}

.btn-add-to-wishlist-title-img {
    width: 30px;
    height: 26.5px;
}

.btn-add-to-wishlist-title-img img {
    width: 100%;
}

.btn-add-to-wishlist-title-text {
    width: 156px;
    height: 36px;
}

.btn-add-to-wishlist-title-text p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #B93B54;
}

.social-networks {
    width: 34%;
    height: 34.5px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.facebook-icon {
    width: 34.4px;
    height: 100%;
    /* background-color: antiquewhite; */
}

.facebook-icon img {
    width: 100%;
    height: 100%;
}

.twitter-icon {
    width: 34.4px;
    height: 100%;
}

.twitter-icon img {
    width: 100%;
    height: 100%;
}

.pinterest-icon {
    width: 34.4px;
    height: 100%;
}

.pinterest-icon img {
    width: 100%;
    height: 100%;
}

.link-icon {
    width: 34.4px;
    height: 100%;
}

.link-icon img {
    width: 100%;
    height: 100%;
}

.worry-free-shopping {
    width: 100%;
    height: 140px;
    background: #FAFAFA;
    margin-bottom: 100px;
}

.worry-free-shopping h2 {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    padding-top: 17px;
    margin-bottom: 10px;
}

.worry-free-shopping-line {
    margin: 0 auto 13px;
    width: 60%;
    height: 1px;
    background-color: #B93B54;
}

.worry-free-shopping-wrap {
    width: 83%;
    height: 43px;
    /* background-color: #A04955; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free-shipping-on {
    width: 38%;
    height: 43px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free-shipping-on-img {
    width: 35px;
    height: 27px;
}

.free-shipping-on-img img {
    width: 100%;
}

.free-shipping-on-text {
    width: 148px;
    height: 43px;
}

.free-shipping-on-text p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.free-returns-exchanges {
    width: 39%;
    height: 31px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free-returns-exchanges-img {
    width: 30px;
    height: 30px;
}

.free-returns-exchanges-img img {
    width: 100%;
}

.free-returns-exchanges-text {
    width: 158px;
    height: 22px;
}

.free-returns-exchanges-text p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}





/* --------------footer-------------------- */





.desktop {
    width: 100%;
    height: 420px;
    background-color: #A04955;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    width: 92%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    /* background-color: aqua; */
}

.ordering-online {
    width: 16%;
    height: 320px;
    /* background-color: yellow; */
}

.ordering-online h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.desktop .footer-content h3:hover {
    cursor: pointer;
}

.desktop .footer-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.desktop .footer-content p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ordering-online {
    display: flex;
    flex-direction: column;
}

.ordering-online a {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.about-sportif {
    width: 12%;
    height: 320px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.about-sportif h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.about-sportif a {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.quick-links {
    width: 12%;
    height: 320px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.quick-links h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quick-links a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.get-to-know-us {
    width: 44%;
    height: 320px;
    /* background-color: blue; */
}

.get-to-know-us-content {
    width: 100%;
    height: 140px;
    /* background-color: green; */
    margin-bottom: 20px;
}

.get-to-know-us h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.get-to-know-us p {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.get-to-know-us .sign {
    margin-top: 31px;
}

.subscribe-us {
    width: 82%;
    height: 61px;
    background-color: #F3F3F3;
}

.subscribe-us input {
    height: 25px;
    width: 49%;
    margin-left: 5%;
    border: none;
    background-color: #F3F3F3;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #A04955;
}

.subscribe-us input:hover {
    cursor: pointer;
}

.subscribe-us .subscribe {
    width: 32%;
    height: 43px;
    background-color: #A04955;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #F3F3F3;
    margin-left: 10%;
    margin-top: 8px;
    border-style: none;
}

.subscribe-us .subscribe:hover {
    cursor: pointer;
}

.all-rights-reserved {
    width: 20%;
    height: 25px;
    margin-top: 10px;
    margin-left: 4%;
    /* background-color: antiquewhite; */
}

.all-rights-reserved p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.mobile {
    display: none;
}






/* ------------------footer for mobile version---------- */






.mobile {
    width: 100%;
    height: 100%;
    background-color: #A04955;
    box-sizing: border-box;
}

.footer-content-mobile h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.footer-content-mobile a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.footer-content-mobile {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #A04955;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown-ordering-online {
    width: fit-content;
}

.dropdown-ordering-online h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-about-sportif h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-quick-links h3 {
    margin: 0;
    padding-bottom: 10px;
}

.dropdown-ordering-online:hover {
    cursor: pointer;
}

.dropdown-about-sportif:hover {
    cursor: pointer;
}

.dropdown-quick-links:hover {
    cursor: pointer;
}

.dropdown-ordering-online:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-about-sportif:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-quick-links:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



