
body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    max-height: 5708px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding-top: 33px;
}

header {
    width: 92%;
    height: 64px;
    /* background-color: bisque; */
    margin: 0 auto 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 24%;
    height: 64px;
    /* background-color: lightsalmon; */
}

.logo img {
    width: 100%;
}

.site-navigation {
    width: 33%;
    height: 30px;
    /* background-color: lightgreen; */
    margin-left: 14%;
}

.site-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-navigation li {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.site-navigation li:hover {
    cursor: pointer;
    color: #A04955;
}

.site-navigation li a {
    text-decoration: none;
    color: #333333;
}

.search {
    width: 19%;
    height: 40px;
    /* background-color: gold; */
    border: 1px solid #A04955;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 25px;
    display: inline-block;
}

.search-icon img {
  width: 100%;
}

.search-input {
    margin-left: 11px;
    outline-style: none;
    font-size: 15px;
    line-height: 22px;
    color: #787878;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border: none;
}

.section-shorts {
    width: 100%;
    height: 621px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.section-shorts-content {
    width: 40%;
    /* background-color: bisque; */
    height: 100%;
    margin-left: 4%;
}

.section-shorts-content h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    color: #001F3D;
    margin-top: 138px;
    margin-bottom: 10px;
}

.section-shorts-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.shop-all-shorts {
    width: 41%;
    height: 50px;
    border: 1px solid black;
}

.shop-all-shorts:hover {
    cursor: pointer;
    background-color: #A04955;
    transition: 0.3s linear;
}

.shop-all-shorts p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 8.5px;
}

.shop-all-shorts a {
    text-decoration: none;
    color: black;
}

.section-shorts-img {
    width: 46%;
    /* background-color:goldenrod; */
    height: 100%;
    margin-right: 4%;
    position: relative;
}

.rect-white {
    width: 78%;
    height: 78%;
    border: 1px solid #A04955;
    position: absolute;
    bottom: 0;
}

.rect-brown {
    width: 78%;
    height: 78%;
    background-color: #A04955;
    position: absolute;
    right: 2%;
}

.rect-img {
    width: 89%;
    height: 559px;
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 0;
}

.product-discounts {
    width: 100%;
    height: 745px;
    background-color: #F1F1F1;
    box-sizing: border-box;
    padding-top: 80px;
}

.product-block {
    width: 90%;
    height: 586px;
    /* background-color: darkgoldenrod; */
    margin: auto;
    text-align: center;
}

.product-block h3 {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #333333;
}

.product-block h2 {
    margin: 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    color: #333333;
    margin-bottom: 23px;
}

.product-cards-wrap {
    width: 100%;
    height: 416px;
    display: flex;
    justify-content: space-between;
}

.product-card {
    width: 22%;
    height: 416px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: inline-block;
}

.product-card-img {
    width: 165px;
    height: 165px;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 5px;
}

.product-card-img img {
    width: 100%;
}

.product-card-img img:hover {
    cursor: pointer;
}

.product-name {
    width: 170px;
    height: 72px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}

.product-name p {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.product-name p:hover {
    cursor: pointer;
}

.product-stars {
    width: 150px;
    height: 25px;
    display: inline-block;
}

.product-price {
    width: 180px;
    height: 27px;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}

.product-price p {
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    margin: 0;
}

.text-bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.product-add-btn {
    width: 130px;
    height: 35px;
    display: inline-block;
    background-color:  #A04955;
}

.product-add-btn:hover {
    cursor: pointer;
}

.product-add-btn img {
    position: relative;
    top: 1px;
} 

.product-add-btn p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 4px;
    margin-left: 4px;
}

/* ----------Bestselling Pants---------------- */

.bestselling-pants {
    width: 100%;
    height: 723px;
    /* background-color: coral; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.bestselling-pants-img {
    width: 46%;
    height: 633px;
    /* background-color: aquamarine; */
    margin-left: 5%;
    margin-top: 90px;
    position: relative;
}

.bestselling-pants-img img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.bestselling-pants-img-rect1 {
    width: 78%;
    height: 465px;
    border: 1px solid #A04955;
    position: absolute;
    right: 0;
    top: 12px;
}

.bestselling-pants-img-rect2 {
    width: 78%;
    height: 465px;
    border: 1px solid #A04955;
    position: absolute;
    bottom: 0;
    left: 3px;
}

.bestselling-pants-content {
    width: 40%;
    height: 633px;
    /* background-color: darkolivegreen; */
    margin-right: 5%;
}

.bestselling-pants-content h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    color: #001F3D;
    margin: 0;
    margin-top: 139px;
    margin-bottom: 10px;
}

.bestselling-pants-description {
    width: 95%;
    height: 132px;
    /* background-color: lightskyblue; */
    margin-bottom: 30px;
}

.bestselling-pants-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin: 0;
}

.shop-all-pants {
    width: 41%;
    height: 50px;
    border: 1px solid black;
}

.shop-all-pants:hover {
    cursor: pointer;
    background-color: #A04955;
}

.shop-all-pants p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 8.5px;
}

.shirts {
    width: 100%;
    max-height: 974px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    padding-top: 107px;
    padding-bottom: 108px;
}

.shirts-content {
    width: 79%;
    max-height: 759px;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.shirts-content-card {
    width: 48%;
    max-height: 759px;
    /* background-color: greenyellow; */
}

.shirts-content-card-icon {
    width: 100%;
    max-height: 517px;
    /* background-color: red; */
    position: relative;
    margin-bottom: 33px;
}

.shirts-content-card-img {
    width: 100%;
    height: 100%
}

.shirts-content-card-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.shirts-content-card-img-signature {
    width: 100%;
    height: 86px;
    background-color: #A04955;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.shirts-content-card-img-signature p {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 16.5px;
}

.shirts-content-card-description {
    width: 100%;
    height: 132px;
    /* background-color: lightyellow; */
    margin-bottom: 25px;
}

.shirts-content-card-description p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.shop-ecoths-sale {
    width: 67%;
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;
}

.shop-ecoths-sale:hover {
    cursor: pointer;
    background-color: #A04955;
}

.shop-ecoths-sale p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 8.5px;
}

.sportif-original-pant {
    width: 100%;
    height: 550px;
    background-image: url("../images/sport_original_pant.png");
    margin-bottom: 90px;
}

.sportif-original-pant-content {
    width: 40%;
    height: 100%;
    /* background-color: greenyellow; */
    margin-left: 10%;
    box-sizing: border-box;
    padding-top: 22px;
}

.sportif-original-pant-title {
    width: 100%;
    height: 192px;
    /* background-color: red; */
}

.sportif-original-pant-title h2 {
    margin: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    color: #FFFFFF;
}

.sportif-original-pant-description {
    width: 85%;
    height: 198px;
    /* background-color: aquamarine; */
    margin-bottom: 30px;
}

.sportif-original-pant-description p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin: 0;
}

.sportif-original-pant-shop {
    width: 70%;
    height: 50px;
    background-color: #A04955; 
}

.sportif-original-pant-shop:hover {
    cursor: pointer;
}

.sportif-original-pant-shop p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 8.5px;
}

.stay-in-trend {
    width: 92%;
    height: 508px;
    /* background-color: greenyellow; */
    margin: 0 auto;
    margin-bottom: 90px;
}

.stay-in-trend-title {
    width: 100%;
    height: 340px;
    background-color: #A04955;
    box-sizing: border-box;
    padding-top: 30px;
}

.stay-in-trend-title h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
}

.stay-in-trend-cards {
    width: 87%;
    height: 352px;
    /* background-color: khaki; */
    position: relative;
    bottom: 183px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* ------------Карточка товара stay in trend-------------- */

.stay-in-trend-card {
    width: 28%;
    height: 352px;
    background-color: #FFFFFF;
    border: 1px solid #A04955;
    box-sizing: border-box;
    position: relative;
}

.stay-in-trend-card-img-belt {
    width: 74%;
    height: 269px;
    /* background-color: red; */
    position: absolute;
    left: 41.5px;
    bottom: 113px;
}

.stay-in-trend-card-img-belt img {
    width: 100%;
    height: 100%;
}

.stay-in-trend-card-img-shorts {
    width: 59%;
    height: 214px;
    /* background-color: red; */
    position: absolute;
    left: 70px;
    top: 15px;
}

.stay-in-trend-card-img-shorts img {
    width: 100%;
    height: 100%;
}

.stay-in-trend-card-img-catalog {
    width: 81%;
    height: 293px;
    /* background-color: red; */
    position: absolute;
    left: 33px;
    bottom: 70px;
}

.stay-in-trend-card-img-catalog img {
    width: 100%;
    height: 100%;
}

.stay-in-trend-card-img img {
    width: 100%;
    height: 100%;
}

.stay-in-trend-card-title {
    text-align: center;
    margin-top: 223px;
    margin-bottom: 15px;
}

.stay-in-trend-card-title p {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.stay-in-trend-card-shop {
    width: 77%;
    height: 40px;
    background-color: #A04955;
    margin: 0 auto;
}

.stay-in-trend-card-shop:hover {
    cursor: pointer;
}

.stay-in-trend-card-shop p {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 7.5px;
}

.family-legacy {
    width: 84%;
    height: 567px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    margin-bottom: 46px;
}

.family-legacy-label {
    width: 23%;
    /* height: 270px; */
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.family-legacy-label img {
    width: 100%;
}

.family-legacy-ground {
    width: 100%;
    height: 412px;
    background-color: #F3F3F3;
    position: relative;
    bottom: 115px;
}

.family-legacy-ground h2 {
    margin: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    text-align: center;
    color: #001F3D;
    padding-top: 130px;
    margin-bottom: 20px;
}

.family-legacy-ground p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin: 0;
    text-align: center;
    margin-bottom: 35px;
}

.about-us {
    width: 21%;
    height: 55px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

.about-us:hover {
    cursor: pointer;
    background-color: #A04955;
}

.about-us p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin: 0;
    padding-top: 11px;
}

.desktop {
    width: 100%;
    height: 420px;
    background-color: #A04955;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    width: 92%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    /* background-color: aqua; */
}

.ordering-online {
    width: 16%;
    height: 320px;
    /* background-color: yellow; */
}

.ordering-online h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.desktop .footer-content h3:hover {
    cursor: pointer;
}

.desktop .footer-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.desktop .footer-content p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ordering-online {
    display: flex;
    flex-direction: column;
}

.ordering-online a {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.about-sportif {
    width: 12%;
    height: 320px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.about-sportif h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.about-sportif a {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.quick-links {
    width: 12%;
    height: 320px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.quick-links h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quick-links a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.get-to-know-us {
    width: 44%;
    height: 320px;
    /* background-color: blue; */
}

.get-to-know-us-content {
    width: 100%;
    height: 140px;
    /* background-color: green; */
    margin-bottom: 20px;
}

.get-to-know-us h3 {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.get-to-know-us p {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.get-to-know-us .sign {
    margin-top: 31px;
}

.subscribe-us {
    width: 82%;
    height: 61px;
    background-color: #F3F3F3;
}

.subscribe-us input {
    height: 25px;
    width: 49%;
    margin-left: 5%;
    border: none;
    background-color: #F3F3F3;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #A04955;
}

.subscribe-us input:hover {
    cursor: pointer;
}

.subscribe-us .subscribe {
    width: 32%;
    height: 43px;
    background-color: #A04955;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #F3F3F3;
    margin-left: 10%;
    margin-top: 8px;
    border-style: none;
}

.subscribe-us .subscribe:hover {
    cursor: pointer;
}

.all-rights-reserved {
    width: 20%;
    height: 25px;
    margin-top: 10px;
    margin-left: 4%;
    /* background-color: antiquewhite; */
}

.all-rights-reserved p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.mobile {
    display: none;
}






/* ------------------footer for mobile version---------- */






.mobile {
    width: 100%;
    height: 100%;
    background-color: #A04955;
    box-sizing: border-box;
}

.footer-content-mobile h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.footer-content-mobile a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180.8%;
    color: #FFFFFF;
}

.footer-content-mobile {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #A04955;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown-ordering-online {
    width: fit-content;
}

.dropdown-ordering-online h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-about-sportif h3 {
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-quick-links h3 {
    margin: 0;
    padding-bottom: 10px;
}

.dropdown-ordering-online:hover {
    cursor: pointer;
}

.dropdown-about-sportif:hover {
    cursor: pointer;
}

.dropdown-quick-links:hover {
    cursor: pointer;
}

.dropdown-ordering-online:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-about-sportif:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-quick-links:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}









/* ----------------------Медиа Запросы------------------- */





/* ---------------Max Width 1400px------------------ */







@media screen and (max-width: 1400px) {
    
    .container{
        max-width: 1320px;
    }

    .section-shorts {
        max-height: 621px;
        margin-bottom: 0;
    }

    .section-shorts-content {
        max-height: 100%;
    }

    .section-shorts-img {
        max-height: 100%;
    }

    .rect-white {
        height: 465px;
        top: 58px;
    }

    .rect-brown {
        height: 465px;
    }

    .rect-img {
        max-height: 559px;
    }

    .rect-img img {
        width: 100%;
        display: block;
    }

    .search {
        width: 23%;
    }

    .shop-all-shorts {
        width: 45%;
    }

    .bestselling-pants-description {
        height: max-content;
    }

    .shirts-content-card-description p {
        font-size: 20px;
    }

    .sportif-original-pant-title h2 {
        font-size: 63px;
    }

    .sportif-original-pant-description {
        height: fit-content;
    }

    .sportif-original-pant-description p {
        font-size: 21px;
    }

    .sportif-original-pant-shop p {
        font-size: 22px;
    }

    .shop-ecoths-sale p {
        font-size: 22px;
    }

    .get-to-know-us-content {
        height: fit-content;
    }

}





/* ------------------Max Width 1140px-----------------------  */







 @media screen and (max-width: 1200px) {
    
    .container{
        max-width: 1140px;
    }

    header {
        height: fit-content;
    }

    .logo {
        height: 100%;
    }

    .site-navigation {
        width: 40%;
        margin-left: 2%;
    }

    .search {
        width: 27%;
    }

    .section-shorts-content h1 {
        font-size: 54px;
        margin-top: 100px;
    }

    .section-shorts-content p {
        font-size: 20px;
    }

    .shop-all-shorts p {
        font-size: 20px;
    }

    .bestselling-pants-content h2 {
        font-size: 54px;
    }

    .shop-all-pants p {
        font-size: 20px;
    }

    .shirts-content-card-img-signature p {
        font-size: 30px;
    }

    .shirts-content-card-description {
        height: fit-content;
    }

    .shop-ecoths-sale {
        width: 70%;
    }

    .shop-ecoths-sale p {
        font-size: 19px;
    }

    .shirts-content-card-description p {
        font-size: 18px;
    }

    .sportif-original-pant {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: fit-content;
        padding-bottom: 30px;
        box-sizing: border-box;
    }

    .sportif-original-pant-title h2 {
        font-size: 52px;
        line-height: 60px;
    }

    .sportif-original-pant-title {
        height: fit-content;
        margin-bottom: 10px;
    }

    .sportif-original-pant-description {
        height: fit-content;
        margin-bottom: 15px;
    }

    .sportif-original-pant-description p {
        font-size: 16px;
        line-height: 30px;
    }

    .sportif-original-pant-shop {
        height: fit-content;
    }

    .sportif-original-pant-shop p {
        font-size: 18px;
        padding-top: 0;
    }

    .stay-in-trend-card-img-belt {
        max-height: 269px;
        left: 30.5px;
        bottom: 80px;
    }

    .stay-in-trend-card-img-belt img {
        height: fit-content;
    }

    .stay-in-trend-card-title p {
        font-size: 18px;
    }

    .stay-in-trend-card-shop p {
        font-size: 16px;
    }

    .stay-in-trend-card-img-shorts {
        left: 50px;
        top: 25px;
        max-height: 214px;
    }

    .stay-in-trend-card-img-shorts img {
        height: fit-content;
    }

    .stay-in-trend-card-img-catalog {
        max-height: 293px;
        left: 23px;
        bottom: 50px;
    }

    .stay-in-trend-card-img-catalog img {
        height: fit-content;
    }

    .family-legacy {
        margin-bottom: 0;
        height: 530px;
    }

    .family-legacy-ground {
        height: fit-content;
        padding-bottom: 40px;
    }

    .family-legacy-ground h2 {
        font-size: 50px;
        line-height: 80px;
        padding-top: 120px;
    }

    .family-legacy-ground p {
        font-size: 18px;
        line-height: 30px;
    }

    .about-us {
        height: 45px;
    }

    .about-us p {
        font-size: 20px;
        padding-top: 7px;
    }

/* ------------------footer-------------------- */

    .ordering-online h3 {
        font-size: 20px;
    }

    .ordering-online li {
        font-size: 16px;
    }

    .about-sportif {
        width: 14%;
    }

    .about-sportif h3 {
        font-size: 20px;
    }

    .about-sportif li {
        font-size: 16px;
    }

    .quick-links h3 {
        font-size: 20px;
    }

    .quick-links li {
        font-size: 16px;
    }

    .get-to-know-us h3 {
        font-size: 20px;
    }

    .get-to-know-us p {
        font-size: 16px;
    }

    .all-rights-reserved {
        width: 25%;
    }

} 








/*------------------Max Width 992px----------------------- */








@media screen and (max-width: 992px) {
    
    .container{
        max-width: 960px;
    }

    .site-navigation li {
        font-size: 16px;
    }

    .search {
        width: 28%;
    }

    .search-icon {
        width: 22px;
        height: 22px;
    }

    .search-input {
        font-size: 12px;
    }

    .section-shorts-content h1 {
        font-size: 43px;
        line-height: 60px;
    }

    .section-shorts-content p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .section-shorts {
        max-height: 430px;
    }

    .shop-all-shorts {
        width: 52%;
        height: 40px;
    }

    .section-shorts-content h1 {
        margin-top: 50px;
    }

    .shop-all-shorts p {
        font-size: 16px;
        padding-top: 3.5px;
    }

    .rect-img {
        max-height: 100%;
    }

    .rect-white {
        height: 278px;
    }

    .rect-brown {
        height: 278px;
    }

    .product-block h3 {
        font-size: 32px;
        line-height: 50px;
    }

    .product-block h2 {
        font-size: 55px;
        line-height: 80px;
    }

    .product-card {
        width: 30%;
    }

    .product-cards-wrap .product-card:last-child {
        display: none;
    }

    .product-name p {
        font-size: 23px;
    }

    .bestselling-pants {
        height: 480px;
        margin-bottom: 30px;
    }

    .bestselling-pants-img-rect1 {
        height: 278px;
    }

    .bestselling-pants-img-rect2 {
        height: 278px;
    }

    .bestselling-pants-img {
        height: 355px;
        margin-top: 60px;
    }

    .bestselling-pants-content {
        height: 100%;
    }

    .bestselling-pants-content h2 {
        font-size: 40px;
        line-height: 60px;
        margin-top: 77px;
    }

    .bestselling-pants-description {
        margin-bottom: 20px;
    }

    .bestselling-pants-content p {
        font-size: 16px;
        line-height: 25px;
    }

    .shop-all-pants {
        width: 50%;
        height: 40px;
    }

    .shop-all-pants p {
        font-size: 16px;
        padding-top: 6.5px;
    }

/* ---------------section shirts------------- */

    .shirts {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .shirts-content-card-img-signature p {
        font-size: 25px;
    }

    .shirts-content-card-description {
        margin-bottom: 15px;
    }

    .shirts-content-card-description p {
        font-size: 16px;
        line-height: 24px;
    }

    .shirts-content-card-icon {
        margin-bottom: 20px;
    }

    .shop-ecoths-sale {
        width: 77%;
        height: 38px;
    }

    .shop-ecoths-sale p {
        font-size: 16px;
        padding-top: 3.5px;
    }


    .sportif-original-pant-title h2 {
        font-size: 34px;
        line-height: 45px;
    }

    .sportif-original-pant-description p {
        line-height: 25px;
    }

    .sportif-original-pant-shop p {
        font-size: 14px;
    }

/* --------------stay in trend----------- */

    .stay-in-trend {
        height: 355px;
    }

    .stay-in-trend-title h2 {
        font-size: 40px;
    }

    .stay-in-trend-card-title p {
        font-size: 14px;
    }

    .stay-in-trend-card-shop {
        height: 30px;
    }

    .stay-in-trend-card-shop p {
        font-size: 14px;
        padding-top: 2.5px;
    }

    .stay-in-trend-card-title {
        margin-bottom: 10px;
    }

    .stay-in-trend-title {
        height: 260px;
    }

    .stay-in-trend-cards {
        height: 215px;
        bottom: 120px;
    }

    .stay-in-trend-card {
        height: 215px;
    }

    .stay-in-trend-card-img-belt {
        width: 70%;
        max-height: 100%;
        left: 27.5px;
        bottom: 22px;
    }

    .stay-in-trend-card-title {
        margin-top: 122px;
    }

    .stay-in-trend-card-img-shorts {
        width: 55%;
        left: 45px;
        top: 5px;
    }

    .stay-in-trend-card-img-catalog {
        max-height: 170px;
        left: 22px;
        bottom: 58px;
        width: 75%;
    }


    .family-legacy {
        height: 440px;
    }

    .family-legacy-ground {
        bottom: 80px;
    }

    .family-legacy-ground h2 {
        font-size: 40px;
        line-height: 45px;
        padding-top: 100px;
    }

    .family-legacy-ground p {
        margin-bottom: 25px;
    }

    .desktop {
        height: fit-content;
    }

    .footer-content {
        width: 94%;
        height: 260px;
        margin: 40px auto;
    }

    .ordering-online {
        width: 23%;
    }

    .ordering-online li {
        font-size: 14px;
    }

    .about-sportif h3 {
        font-size: 16px;
    }

    .about-sportif li {
        font-size: 14px;
    }

    .quick-links h3 {
        font-size: 16px;
    }

    .quick-links li {
        font-size: 14px;
    }

    .get-to-know-us h3 {
        font-size: 16px;
    }

    .get-to-know-us p {
        font-size: 14px;
    }

    .about-us {
        height: 35px;
        width: 25%;
    }

    .about-us p {
        font-size: 18px;
        padding-top: 2px;
    }

    .ordering-online h3 {
        font-size: 15px;
    }

    .all-rights-reserved {
        width: 35%;
    }

    .subscribe-us {
        width: 90%;
        height: 40px;
    }

    .subscribe-us input {
        font-size: 14px;
    }

    .subscribe-us .subscribe {
        height: 27px;
        font-size: 14px;
        margin-top: 7px;
        margin-left: 8%;
    }
    
}







/* ------------------Max Width 768px----------------------- */







@media screen and (max-width: 768px) {
    
    .container{
        max-width: 720px;
    }

    header {
        margin: 0 auto 40px;
    }

    header .search:last-child {
        display: none;
    }

    .site-navigation {
        width: 60%;
    }

    .section-shorts {
        max-height: 360px;
    }

    .section-shorts-content h1 {
        margin-top: 50px;
        font-size: 32px;
        line-height: 45px;
    }

    .section-shorts-content p {
        line-height: 28px;
    }

    .shop-all-shorts {
        width: 62%;
        height: 32px;
    }

    .shop-all-shorts p {
        font-size: 14px;
        padding-top: 0;
    }

    .rect-white {
        height: 240px;
    }

    .rect-brown {
        height: 240px;
    }

    .rect-img {
        max-height: 222px;
    }

    .product-block {
        width: 92%;
    }

    .product-block h3 {
        font-size: 20px;
    }

    .product-block h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .product-card {
        width: 32%;
    }

    .product-discounts {
        height: 640px;
        padding-top: 40px;
    }

    .bestselling-pants {
        height: 440px;
    }

    .bestselling-pants-content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .bestselling-pants-content p {
        font-size: 14px;
    }

    .shop-all-pants {
        width: 70%;
        height: 34px;
    }

    .shop-all-pants p {
        font-size: 15px;
        padding-top: 4.5px;
    }

    .bestselling-pants-img {
        height: 330px;
    }

    .shirts {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .shirts-content-card-img-signature p {
        font-size: 18px;
        line-height: 42px;
        margin-top: 0;
    }

    .shirts-content-card-img-signature {
        height: 40px;
    }

    .shirts-content-card-description p {
        font-size: 14px;
        line-height: 20px;
    }

    .shop-ecoths-sale {
        width: 88%;
        height: 30px;
    }
    
    .shop-ecoths-sale p {
        font-size: 14px;
        padding-top: 8px;
        line-height: 14px;
    }

    .sportif-original-pant-title h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .sportif-original-pant-description p {
        line-height: 20px;
        font-size: 14px;
    }

    .sportif-original-pant-shop {
        width: 90%;
    }

    .sportif-original-pant {
        margin-bottom: 70px;
    }

    .stay-in-trend-cards {
        width: 94%;
    }

    .stay-in-trend-card {
        width: 32%;
    }

    .stay-in-trend {
        height: 315px;
    }

    .stay-in-trend-title h2 {
        font-size: 38px;
    }

    .family-legacy-label {
        width: 30%;
    }

    .family-legacy-ground h2 {
        font-size: 38px;
    }

    .family-legacy-ground p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 25px;
    }

    .about-us {
        height: 29px;
        width: 35%;
    }

    .footer-content {
        width: 90%;
    }

    .footer-content .get-to-know-us:last-child {
        display: none;
    }

    .ordering-online {
        width: 40%;
    }

    .ordering-online h3 {
        font-size: 18px;
    }

    .ordering-online li {
        font-size: 15px;
    }

    .about-sportif {
        width: 30%;
    }

    .about-sportif h3 {
        font-size: 18px;
    }

    .about-sportif li {
        font-size: 15px;
    }

    .quick-links {
        width: 20%;
    }

    .quick-links h3 {
        font-size: 18px;
    }

    .quick-links li {
        font-size: 15px;
    }

    .all-rights-reserved {
        width: 50%;
    }

}







/* -----------------max width 576px ------------------------------- */







@media screen and (max-width: 576px) {

    .container {
        width: 100%;
    }

    header {
        margin: 0 auto 20px;
    }

    .site-navigation {
        width: 70%;
    }

    .site-navigation li {
        font-size: 14px;
    }

    .section-shorts .section-shorts-img:last-child {
        display: none;
    }

    .section-shorts-content {
        width: 90%;
        margin: 0 auto;
    }

    .section-shorts {
        max-height: 280px;
    }

    .section-shorts-content h1 {
        margin-top: 20px;
    }

    .product-block .product-card:nth-child(2) {
        display: none;
    }    

    .product-block .product-card:nth-child(3) {
        display: none;
    } 

    .product-card {
        margin: 0 auto;
        width: 70%;
    }

    .product-block h2 {
        font-size: 35px;
    }

    .bestselling-pants .bestselling-pants-img:first-child {
        display: none;
    }

    .bestselling-pants {
        height: 340px;
        margin-bottom: 10px;
    }

    .bestselling-pants-content {
        margin: 0 auto;
        width: 90%;
    }

    .bestselling-pants-content h2 {
        margin-top: 60px;
    }

    .shop-all-pants {
        width: 50%;
    }

    .shirts-content .shirts-content-card:last-child {
        display: none;
    }

    .shirts {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .shirts-content-card {
        margin: 0 auto;
        width: 80%;
    }

    .sportif-original-pant {
        display: none;
    }

    .stay-in-trend {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .stay-in-trend-title {
        height: 200px;
    }

    .stay-in-trend-title h2 {
        font-size: 23px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .stay-in-trend-cards {
        bottom: 100px;
    }

    .stay-in-trend-card-img-belt {
        left: 14.5px;
        width: 80%;
    }

    .stay-in-trend-card-img-shorts {
        left: 28px;
        width: 65%;
    }

    .stay-in-trend-cards .stay-in-trend-card:last-child {
        display: none;
    }

    .stay-in-trend-card {
        width: 48%;
    }

    .family-legacy {
        height: 410px;
    }

    .family-legacy-label {
        width: 45%;
    }

    .family-legacy-ground {
        padding-bottom: 30px;
    }

    .family-legacy-ground h2 {
        font-size: 28px;
        line-height: 28px;
    }

    .family-legacy-ground p {
        font-size: 14px;
    }

    .desktop {
        display: none;
    }

    .all-rights-reserved {
        width: 80%;
    }

    .mobile {
        display: block;
    }

}